.PaginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 20px auto;
  flex-wrap: wrap;
}

.PaginationItem,
.ActivePageItem {
  min-width: 40px;
  width: auto;
  padding: 10px;
  border: 1px solid gray;
  color: blue;
  margin: 0 10px;
  text-align: center;
}

.PaginationItem,
.ActivePageItem:hover {
  cursor: pointer;
}

.ActivePageItem {
  color: white;
  background: blue;
}

@media only screen and (max-width: 720px) {
  .PaginationItem,
  .ActivePageItem {
    min-width: 20px;
    margin-bottom: 5px;
  }
}
